# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]
*.pyc

# =========================
# Environments
# =========================
.venv/
venv/
.env

# =========================
# Pytest / typing cache
# =========================
.pytest_cache/
.mypy_cache/

# =========================
# ML models (handled by DVC)
# =========================
models/*.pkl
models/*.joblib


# =========================
# MLflow tracking
# =========================
mlruns/
mlflow.db

# =========================
# IDE / OS
# =========================
.vscode/
.idea/
.DS_Store

# =========================
# Logs
# =========================
*.log"dvc-storage/" 
